@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  color: rgb(var(--foreground-rgb));
}

input,
select,
button {
  border: none;
  background-color: transparent;
  outline: none;
}

label {
  cursor: pointer;
}

a {
  text-decoration: none;
}
